# This is Git's per-user configuration file.
[user]
	name = Ivan Harasta
	email = harasta.ivan@gmail.com
	signingkey = E8025D8DC29EF8A0
[core]
	excludesfile = /Users/$USER/dotfiles/git/.gitignore
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[alias]
    ci = commit
    st = status
    br = branch -v --sort=-committerdate
    clockify = log --pretty='%C(auto) %h %Cred%ad %Cblue%an%C(auto)%d %s'
[log]
    date = format:%a %d. %m. %Y %H:%M:%S
    # date = relative
# [format]
   # pretty = format:%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s
